@model IEnumerable<LibraryManagementSystem.Models.Book>

@{
    ViewBag.Title = "Index";
}
<h2>All Books</h2>

@{string uType = Session["UserType"] as String; }

@if (uType == "Librarian")
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <table class="table table-striped table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Copies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowedCopies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Availability)
            </th>
            <th>Actions</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Copies)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BorrowedCopies)
                </td>
                <!--@if (item.Copies > item.BorrowedCopies)
                {
                    <td>
                        Yes
                    </td>
                }
                @if (item.Copies <= item.BorrowedCopies)
                {
                    <td>
                        No
                    </td>
                }-->
                <td>
                    @Html.DisplayFor(modelItem => item.Availability)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BookID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BookID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BookID })
                </td>
            </tr>
        }
    </table>
}

@if (uType == "Member")
{
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h5 style="color: white;" class="text-center">@Html.DisplayFor(modelItem => item.Title)</h5>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">Genre</div>
                                <div class="col-md-6">@Html.DisplayFor(modelItem => item.Genre)</div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">Author</div>
                                <div class="col-md-6">@Html.DisplayFor(modelItem => item.Author)</div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">Description</div>
                                <div class="col-md-6">@Html.DisplayFor(modelItem => item.Description)</div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">Availability</div>
                                <div class="col-md-6">@Html.DisplayFor(modelItem => item.Availability)</div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6 col-md-offset-4"><button type="button" class="btn btn-default">@Html.ActionLink("Borrow", "Borrow", new { id = item.BookID})</button></div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         }
    </div>
}
